<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
        <p1>Процессоры</p1>
        <p2>Материнские платы</p2>
        <p3>Оперативная память</p3>
        <p4>Видеокарты</p4>
        <p5>Жесткие диски</p5>
        <p6>Твердотельные накопители</p6>
        <p7>Блоки питания</p7>
        <p8>Система охлаждения</p8>
        <p9>Корпуса</p9>
        <p10>Мониторы</p10>
        <p11>Клавиатуры</p11>
        <p12>Мыши</p12>
        <p13>Наушники</p13>
    </div>

</body>
</html>