{% extends 'configurator/base_templates.html' %}

{% block title %}Сборщик ПК{% endblock %}

{% block content %}
    <div class="list-group">
        <h1>Сборка ПК</h1><br>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="form-group">
                    <label class="form-label">{{ f.label }}</label>
                    {{ f }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Добавить сборку</button>
            <button type="reset" class="btn btn-light">Сбросить</button>
        </form>
    </div>
{% endblock %}
