{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'configurator/css/base_templates.css' %}">
</head>
<body>
    <aside>
        <div class="list-group">
          <a href="" class="list-group-item list-group-item-action">Готовые сборки</a>
          <a href="{% url 'home_page' %}" class="list-group-item list-group-item-action">Сборщик ПК</a>
          <ul class="list-group">
            <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
            Комплектующие ПК
            </li>
          </ul>
          <a href="" class="list-group-item list-group-item-action">Процессоры</a>
          <a href="" class="list-group-item list-group-item-action">Материнские платы</a>
          <a href="" class="list-group-item list-group-item-action">Оперативная память</a>
          <a href="" class="list-group-item list-group-item-action">Видеокарты</a>
          <a href="" class="list-group-item list-group-item-action">Жесткие диски</a>
          <a href="" class="list-group-item list-group-item-action">Твердотельные накопители</a>
          <a href="" class="list-group-item list-group-item-action">Блоки питания</a>
          <a href="" class="list-group-item list-group-item-action">Система охлаждения</a>
          <a href="" class="list-group-item list-group-item-action">Корпуса</a>
        </div>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>





