{% extends 'configurator/base_templates.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <h2>Собери свой ПК</h2>
    <p>
        Возможно выбрать <a href="{% url 'computers' %}" class="text-info">готовые сборки</a>, или воспользоваться
        <a href="{% url 'home_page' %}" class="text-info">сборщиком ПК</a> и собрать свой комплект!
    </p>

    <div class="container">
        <div class="card mb-3">
          <img src="{% static 'configurator/image/game.png' %}" class="card-img-top" alt="Игровой ПК">
          <div class="card-body">
            <p class="card-text">Игровой ПК обеспечивает максимальную производительность в играх благодаря мощному процессору последнего поколения и видеокарте с высокими показателями графической мощности. С его помощью вы сможете запускать самые современные игры на ультра-настройках без малейших задержек.</p>
          </div>
          <h3 class="card-header"><a href="{% url 'assembler_PC' %}?type={{ 1 }}" class="card-link">Собрать игровой ПК</a></h3>
        </div>

        <div class="card mb-3">
          <img src="{% static 'configurator/image/office.png' %}" class="card-img-top" alt="Офисный ПК">
          <div class="card-body">
            <p class="card-text">Офисный ПК представляет собой идеальное решение для повседневных задач и работы, включая серфинг в интернете, обработку текстов, работу с таблицами и просмотр мультимедийных файлов.</p>
          </div>
          <h3 class="card-header"><a href="{% url 'assembler_PC' %}?type={{ 2 }}" class="card-link">Собрать офисный ПК</a></h3>
        </div>
    </div>

{% endblock %}