{% extends 'configurator/base_templates.html' %}
{% load static %}

{% block title %}
Готовые сборки ПК
{% endblock %}

{% block content %}
<h2 class="pclist-header">Computers</h2>
    <div class="sort_form">
        <form method="GET">
        <select name="sort-by" class="form-select" aria-label="Default select example"> <!-- this is the parameter name that will be in $input->get -->
            <option selected>Sort by...</option>
            <option value="user_score">User score</option>
            <option value="price_all">Total price</option>
        </select>
        <input type="submit" value="Apply Filters" />
        </form>
    </div>

    <div class="pc-list">
        {% for computer in object_list %}
            <div class="card pc-card" style="width: 18rem;">
              <img src="{% static 'configurator/image/computer_placeholder.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ computer.name }}</h5>
                  <p class="card-text">Цена: <b>{{ computer.price_all }}</b></p>
                  <p class="card-text">Оценка пользователей: <b>{{ computer.user_score }}</b></p>
                <a href="#" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
        {% endfor %}
    </div>
    
{#    <table class="pclist">#}
{#        {% for computer in object_list %}#}
{#            <tr>#}
{#                <td>{{ computer.name }}</td>#}
{#            {% empty %}#}
{#                <td>No computers built. Sad!</td>#}
{#            {% endfor %}#}
{#            </tr>#}
{#    </table>#}
    
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}