{% load static %}

{% block title %}
Готовые сборки ПК
{% endblock %}

{% block content %}
<h2>Сборка №XXXX</h2>

<table class="table table-hover">
  <tbody>
    <tr>
      <th scope="row">Процессор</th>
      <td>name CPU</td>
    </tr>
    <tr>
      <th scope="row">Материнская плата</th>
      <td>name motherboard</td>
    </tr>
    <tr>
      <th scope="row">Видеокарта</th>
      <td>name GPU</td>
    </tr>
    <tr>
      <th scope="row">Оперативная память</th>
      <td>name ram</td>
    </tr>
    <tr>
      <th scope="row">Блок питания</th>
      <td>name power_supply</td>
    </tr>
    <tr">
      <th scope="row">Накопитель</th>
      <td>Name storage_drive</td>
    </tr>
    <tr>
      <th scope="row">Охлаждение</th>
      <td>name cooling_system</td>
    </tr>
    <tr>
      <th scope="row">Корпус</th>
      <td>name case</td>
    </tr>
    <tr>
      <th scope="row">Цена</th>
      <td>name price</td>
    </tr>
  </tbody>
</table>




{% endblock %}