main {

    margin-top: 50px;
    text-align: center;
}

.container {
    display: flex;
    padding: 100px;
    grid-gap: 100px;
}

.card.mb-3 {
    width: 400px;
}

.pc-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.pc-card {
    flex: 250px;
    margin: 2rem;
    max-width: 250px;
}

.login-form {
    display: flex;
    justify-content: center;
}

.login-btn {
    margin: 10px;
    width: 55%
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.pc-form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pc-form-label {
    width: 50%;
    max-width: 30ch;
    text-align: left;
    margin-right: 10px;
    font-size: 16px;
}

.pc-form-field input,
.pc-form-field select {
    width: 100%;
    max-width: 50ch;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #adb5bd;
    border-radius: 4px;
}

.pc-form-field {
    width: 100%;
    max-width: 50ch;
    padding: 8px;
}

.btn {
    margin-top: 10px;
    font-size: 20px;
}

.btn-secondary {
    margin-right: 15px;
}

